body{
    background-color: #56BCFD;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 1/3;
    text-align: center;
    text-decoration: underline;
    font-size: larger;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: #61FAE3;
    box-shadow: 10px 5px 5px black;
}
#description{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/6;
    grid-row: 1/3;
    text-align: center;
    font-size: larger;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: #61FAE3;
    box-shadow: 10px 5px 5px black;
}
#form{
    grid-column: 1/3;
    grid-row: 3/8;
    font-size: larger;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: #4DE3A2;
    box-shadow: 10px 5px 5px black;
}
#form input{
    background-color: #b6f3d9;
}
#message{
    height: 100px;
    width: 250px;
    margin-top: 5px;
}
main{
    grid-column: 3/6;
    grid-row: 3/11;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: #4DE3A2;
    box-shadow: 10px 5px 5px black;
    overflow-y: scroll;
}
main::-webkit-scrollbar{
    width: 10px;
}
main::-webkit-scrollbar-track {
    background: rgb(34, 89, 99);
    border-radius: 10px;
}
main::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
main::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 44, 44);
}
main h3{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #38a883;
    text-align: center;
}
footer{
    grid-column: 1/3;
    grid-row: 8/11;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: #61FAE3;
    box-shadow: 10px 5px 5px black;
}
#newarticle{
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: #9ce4e0;
    box-shadow: 10px 5px 5px rgb(63, 63, 63);
}
#close{
    cursor: pointer;
    background-color: darkgrey;
    padding: 5px;
    border-radius: 10px;
}
@media (max-width: 800px){
    body{
        display: flex;
        flex-direction: column;  
    }
    main{
        max-height: 400px;
    }
}